body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header {
    color: #540099;
    text-align: center;
    border-bottom: 1px solid #540099;
    margin-bottom: 30px;
}
.buttons {
    width: 320px;
    display: flex;
    justify-content: space-between;
}
.btn {
    padding: 14px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 22px;
    color: white;
    cursor: pointer;
}

#youtube{
    background: #c4302b;
}

#twitch{
    background: #6441a5;
}
